<div class="control-group form-group input-{{ field.type}}">
    <label class="control-label col-sm-3">
        {#- No leading/trailing whitespace, see https://twig.symfony.com/doc/3.x/templates.html#templates-whitespace-control-#}         
            {% if field.required %}<span class="symbole_obligatoire"></span>{% endif %}
            {% if field.hint %}
                <span class="form-help fa fa-question-circle" title="{{ field.hint|raw('html') }}" onclick="$(this).tooltip('toggle')"></span>
            {% endif %}
            {{ field.label }}         
    </label>
    <div class="controls col-sm-9">
        <div class="input-prepend input-group">
            <span class="add-on input-group-addon">{{ rootUrl }}</span>
            {% if value is not empty %}
                <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" required disabled value="{{ value }}" />
                <input type="hidden" name="{{ field.name }}_exists" value="1">
                <input type="hidden" name="{{ field.name }}" value="{{ value }}">
            {% else %}
                <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" required value="" pattern="^[0-9a-zA-Z-]*$" placeholder="{{ _t('FERME_SITE_NAME') }}" />
            {% endif %}
        </div>

        {% if not defaultWikiAdmin %}
            <div class="input-prepend input-group">
                <input type="text" class="form-control" id="{{ field.name }}_wikiname" name="{{ field.name }}_wikiname" required placeholder="{{ _t('FERME_ADMIN_NAME') }}">
            </div>
        {% else %}
            <input type="hidden" class="form-control" name="{{ field.name }}_wikiname" value="{{ defaultWikiAdmin }}">
        {% endif %}
        <div class="text-danger">
        <strong>ATTENTION</strong> : notez bien le mot de passe saisi ci dessous  car vous aurez des droits avancés exclusifs sur votre wiki.<br>
        Pour vous identifier : soit le NomWiki : <strong>WikiAdmin</strong> soit <strong>votre adresse mail</strong> saisie ci-dessus.
        </div>
    </div>
</div>

